*{
    margin: 0px;
    padding: 0px;
}
.main{
    display:flex;
    justify-content:space-around;
}
.logo{
    width:200px;
    height:100px;
}
.langin{
    display:flex;
}
.container{
    background-image:url("C:/Users/u1297/OneDrive/Desktop/git/gittutorial/FirstClone/images/finalimage.jpg");
    height:90vh;
    background-repeat: no-repeat;
    background-size: auto;
    background-size: contain;
    width:100vw;
    opacity: 1;
}