.finaldiv{
    border:5px solid darkgray;
    width:650px;
    margin:160px 0px 0px 440px;
    height:350px;
    background-color: rgba(167, 205, 220, 0.511);
    border-radius:10px;
}
h1{
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    color:rgba(4, 108, 73, 0.78);
}
.finaldiv > div{
    padding-left:15px;
    padding-bottom:10px;
}
.lastname{
    float: right;
    margin-right:30px;
}
.firstname{
    float:left;
}
.DOB{
    float:left;
}
.age{
    float:right;
    margin-right:30px;
}
.gender{
    float:left;
}
.email{
    float:right;
    margin-right:30px;
}
.name{
    margin-bottom:25px;
}
.dobage{
    margin-bottom:25px;
}
.genmail{
    margin-bottom:25px;
}
.age > label{
    padding-right:40px;
}
.email>label{
    padding-right:27px;
}
.firstname > input{
    margin-left:12px;
}
.name > div > input{
    border-radius:5px;
}
.dobage > div > input{
    border-radius:5px;
}
.email > input{
    border-radius:5px;
}
button{
    width:125px;
    border-radius:10px;
    border:1px solid rgb(0, 0, 0);
    padding:5px;
}
button:hover{
    background-color:gray;
}
.Donation_date{
    float:left;
}
.BG{
    float: right;
    margin-right:137px;
}
.no{
    display:inline;
}
.demo{
    padding-bottom: 35px;
}
.add{
    padding-top:15px;
}
.add>input{
    margin-left:11px;
}
.add>input,.no>input{
    border-radius:5px;
}
.sub,.res{
    display:inline;
}

